delivery.html
<!DOCTYPE html>
<html>
	<head>
		<title>delivery</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
		
		
		<!--|____________________ Website description ____________________|-->
		<meta name="description" content="This is my website">
		<meta name="keywords" content="Website, My">
		<meta name="author" content="Azizbek Iskandarov">
		
		
		<!--|____________________ Favicon ____________________|-->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
		
		
		<!--|____________________ Libraries ____________________|-->
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="lib/font_awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="lib/owl_carousel/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="lib/owl_carousel/owl.transitions.css">
		<link rel="stylesheet" type="text/css" href="lib/owl_carousel/owl.theme.css">
		<link rel="stylesheet" type="text/css" href="lib/int_tel_input/css/intlTelInput.css">
		<link rel="stylesheet" type="text/css" href="lib/slick/slick.css">
		<link rel="stylesheet" type="text/css" href="lib/fancybox/jquery.fancybox.min.css">
		<link rel="stylesheet" type="text/css" href="lib/noUiSlider/nouislider.min.css">
		
		
		<!--|____________________ Styles ____________________|-->
		<link rel="stylesheet" type="text/css" href="css/main.min.css">
		<link rel="stylesheet" type="text/css" href="css/responsive.min.css">
		<link rel="stylesheet" type="text/css" href="css/ie.min.css">
	</head>
	<body>
		<!--|____________________ Internet Explorer ____________________|-->
		<!--[if IE]>
		<div class="ie_bx">
			<h2>You are using Internet Explorer</h2>
			<h2>Please, download Google Chrome for better performance!</h2>
			<h2><a href="https://www.google.com/chrome/">https://www.google.com/chrome/</a></h2>
		</div>
		<div class="ie_bg"></div>
		<![endif]-->
		<!--|__________ Internet Explorer __________|-->
		
		
		
		<!--|************************************************** Header **************************************************|-->
		<header class="header">
			<!-- |=================================== Header Head ===================================|-->
			<section class="hdr_hd">
				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="hdr_hd_col">
							<div class="hdr_hd_ctt">
								<div class="hdr_hd_ctt_tel">
									 Справочная служба: <a href="tel:+998912345678">+998 91 234 56 78</a></div>
								<div class="hdr_hd_ctt_back"><a href data-toggle="modal" data-target=".modal_ctt">Обратная связь</a></div>
							</div>
						</div>
						
						<div class="hdr_hd_col">
							<div class="hdr_hd_act">
								<ul class="hdr_hd_app_ls">
									<li><a href><i class="fa fa-android"></i></a></li>
									<li><a href><i class="fa fa-apple"></i></a></li>
									<li><a href><i class="fa fa-paper-plane"></i></a></li>
								</ul>
								
								<div class="hdr_hd_reg"><a href="#modal_auth_log" data-toggle="modal" data-target=".modal_auth">Вход</a><a href="#modal_auth_reg" data-toggle="modal" data-target=".modal_auth">Регистрация</a></div>
								
								<div class="hdr_hd_lang">
									<div class="hdr_hd_lang_sel">
										<select class="ap-n">
											<option>Ru</option>
											<option>Uz</option>
											<option>En</option>
										</select><i class="fa fa-angle-down"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- |========== Header Head ==========|-->
			</section>
			
			
			<!-- |=================================== Header Body ===================================|-->
			<section class="hdr_bd">
				<div class="container">
					<div class="hdr_bd_inner">
						<div class="row align-items-end">
							<div class="col-3">
								<div class="hdr_bd_logo"><a href><img src="img/logo.png"></a></div>
								
								<div class="hdr_bd_cat_btn_bx"><a class="btn hdr_bd_cat_btn" href=""><span class="txt">Каталог продукции</span><i class="fa fa-angle-down"></i></a>
									
									<div class="cat_menu_bx container_width">
										<div class="cat_menu">
											<ul class="cat_menu_ls">
												<li><a href><span class="txt">ЛЕКАрСТВА И БАДЫ</span><i class="fa fa-angle-right"></i></a></li>
												<li><a href><span class="txt">СПОРТ И ФИТНЕС</span><i class="fa fa-angle-right"></i></a></li>
												<li><a href><span class="txt">ГИГИЕНА</span><i class="fa fa-angle-right"></i></a></li>
												<li><a href><span class="txt">КОСМЕТИКА</span><i class="fa fa-angle-right"></i></a></li>
												<li><a href><span class="txt">МАМА И МАЛЫШ</span><i class="fa fa-angle-right"></i></a></li>
												<li><a href><span class="txt">ЛИНЗЫ</span><i class="fa fa-angle-right"></i></a></li>
												<li><a href><span class="txt">МЕД. ПРИБОРЫ И ИЗДЕЛИЯ</span><i class="fa fa-angle-right"></i></a></li>
											</ul>
											
											<div class="cat_drop">
												<div class="cat_drop_it">
													<div class="cat_drop_menu">
														<div class="cat_drop_menu_col">
															<ul class="cat_drop_menu_ls">
																<li><a href>Беременным и кормящим мамам</a></li>
																<li><a href>Все для кормления детей</a></li>
																<li><a href>Детская гигиена и уход</a></li>
																<li><a href>Детское питание</a></li>
																<li><a href>Подгузники и пеленки</a></li>
																<li><a href>Пустышки, прорезыватели</a></li>
																<li><a href>Игрушки</a></li>
															</ul>
														</div>
														<div class="cat_drop_menu_col">
															<ul class="cat_drop_menu_ls">
																<li><a href>Беременным и кормящим мамам</a></li>
																<li><a href>Все для кормления детей</a></li>
																<li><a href>Детская гигиена и уход</a></li>
																<li><a href>Детское питание</a></li>
																<li><a href>Подгузники и пеленки</a></li>
																<li><a href>Пустышки, прорезыватели</a></li>
																<li><a href>Игрушки</a></li>
															</ul>
														</div>
													</div>
													
													<div class="cat_drop_rek"><a href><img src="img/index/category_menu_ads.jpg"></a></div>
												</div>
												<div class="cat_drop_it">
													<div class="cat_drop_menu">
														<div class="cat_drop_menu_col">
															<ul class="cat_drop_menu_ls">
																<li><a href>Беременным и кормящим мамам</a></li>
																<li><a href>Все для кормления детей</a></li>
																<li><a href>Детская гигиена и уход</a></li>
																<li><a href>Детское питание</a></li>
																<li><a href>Подгузники и пеленки</a></li>
																<li><a href>Пустышки, прорезыватели</a></li>
																<li><a href>Игрушки</a></li>
															</ul>
														</div>
														<div class="cat_drop_menu_col">
															<ul class="cat_drop_menu_ls">
																<li><a href>Беременным и кормящим мамам</a></li>
																<li><a href>Все для кормления детей</a></li>
																<li><a href>Детская гигиена и уход</a></li>
																<li><a href>Детское питание</a></li>
																<li><a href>Подгузники и пеленки</a></li>
																<li><a href>Пустышки, прорезыватели</a></li>
																<li><a href>Игрушки</a></li>
															</ul>
														</div>
													</div>
													
													<div class="cat_drop_rek"><a href><img src="img/index/category_menu_ads.jpg"></a></div>
												</div>
												<div class="cat_drop_it">
													<div class="cat_drop_menu">
														<div class="cat_drop_menu_col">
															<ul class="cat_drop_menu_ls">
																<li><a href>Беременным и кормящим мамам</a></li>
																<li><a href>Все для кормления детей</a></li>
																<li><a href>Детская гигиена и уход</a></li>
																<li><a href>Детское питание</a></li>
																<li><a href>Подгузники и пеленки</a></li>
																<li><a href>Пустышки, прорезыватели</a></li>
																<li><a href>Игрушки</a></li>
															</ul>
														</div>
														<div class="cat_drop_menu_col">
															<ul class="cat_drop_menu_ls">
																<li><a href>Беременным и кормящим мамам</a></li>
																<li><a href>Все для кормления детей</a></li>
																<li><a href>Детская гигиена и уход</a></li>
																<li><a href>Детское питание</a></li>
																<li><a href>Подгузники и пеленки</a></li>
																<li><a href>Пустышки, прорезыватели</a></li>
																<li><a href>Игрушки</a></li>
															</ul>
														</div>
													</div>
													
													<div class="cat_drop_rek"><a href><img src="img/index/category_menu_ads.jpg"></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-9">
								<div class="hdr_bd_info">
									<div class="hdr_bd_city">
										<div class="hdr_bd_city_it">
											<div class="hdr_bd_city_sel">
												<select class="base_input_solid ap-n">
													<option>Uzbekistan</option>
													<option>Tashkent</option>
												</select><i class="fa fa-angle-down"></i>
											</div>
										</div>
										<div class="hdr_bd_city_it">
											<div class="hdr_bd_city_sel">
												<select class="base_input_solid ap-n">
													<option>Uzbekistan</option>
													<option>Tashkent</option>
												</select><i class="fa fa-angle-down"></i>
											</div>
										</div>
									</div>
									
									<div class="hdr_bd_stbar">
										<div class="hdr_bd_tel">
											<p class="tel"><a href="tel:+998912345678">+998 91 234 56 78</a></p>
											<p class="capt">круглосуточно</p>
										</div>
										
										<div class="hdr_bd_wish"><a class="hdr_bd_wish_btn active" href><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i><span class="val">12</span></a></div>
										
										<div class="hdr_bd_cart"><a class="hdr_bd_cart_btn active" href>
												<div class="hdr_bd_cart_img"><img class="img" src="img/cart.png"><span class="val">12</span></div>
												<div class="hdr_bd_cart_txt">
													<p>Корзина</p>
													<p>пуста</p>
												</div></a></div>
									</div>
								</div>
								
								<div class="hdr_bd_search_bx">
									<form>
										<div class="hdr_bd_search">
											<input class="base_input_solid hdr_bd_search_inp" type="search" placeholder="По названию, или веществу среди 25 000 лекарств, например, аптечка в отпуск">
											<button class="btn hdr_bd_search_btn color_alert" type="submit">Поиск
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- |========== Header Body ==========|-->
			</section>
			
			
			<!-- |=================================== Header Foot ===================================|-->
			<section class="hdr_ft">
				<div class="container">
					<nav class="navigation">
						<div class="nav_menu">
							<ul class="nav_menu_ls">
								<li><a href>Главная</a></li>
								<li><a href>О компании</a></li>
								<li><a href>Новости</a></li>
								<li><a href>Контакты</a></li>
							</ul>
						</div>
						
						<div class="nav_scl">
							<ul class="nav_scl_ls">
								<li><a href><i class="fa fa-facebook"></i></a></li>
								<li><a href><i class="fa fa-instagram"></i></a></li>
								<li><a href><i class="fa fa-paper-plane"></i></a></li>
								<li><a href><i class="fa fa-odnoklassniki"></i></a></li>
							</ul>
						</div>
					</nav>
					
					<div class="hdr_ft_bnr_bx">
						<div class="hdr_ft_bnr">
							<div class="hdr_ft_bnr_it"><img class="hdr_ft_bnr_img" src="img/index/banner_1.jpg">
								<div class="hdr_ft_bnr_capt_bx">
									<div class="hdr_ft_bnr_capt">
										<div class="hdr_ft_bnr_capt_hd">Обновление каталога: <strong>Средства от простуды для детей</strong></div>
										<div class="hdr_ft_bnr_capt_bd">
											Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты.
											
										</div>
										<div class="hdr_ft_bnr_capt_ft"><a class="btn hdr_ft_bnr_capt_btn color_alert" href="">Подробнее</a>
										</div>
									</div>
								</div>
							</div>
							<div class="hdr_ft_bnr_it"><img class="hdr_ft_bnr_img" src="img/index/banner_1.jpg">
								<div class="hdr_ft_bnr_capt_bx">
									<div class="hdr_ft_bnr_capt">
										<div class="hdr_ft_bnr_capt_hd">Обновление каталога: <strong>Средства от простуды для детей</strong></div>
										<div class="hdr_ft_bnr_capt_bd">
											Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты.
											
										</div>
										<div class="hdr_ft_bnr_capt_ft"><a class="btn hdr_ft_bnr_capt_btn color_alert" href="">Подробнее</a>
										</div>
									</div>
								</div>
							</div>
							<div class="hdr_ft_bnr_it"><img class="hdr_ft_bnr_img" src="img/index/banner_1.jpg">
								<div class="hdr_ft_bnr_capt_bx">
									<div class="hdr_ft_bnr_capt">
										<div class="hdr_ft_bnr_capt_hd">Обновление каталога: <strong>Средства от простуды для детей</strong></div>
										<div class="hdr_ft_bnr_capt_bd">
											Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты.
											
										</div>
										<div class="hdr_ft_bnr_capt_ft"><a class="btn hdr_ft_bnr_capt_btn color_alert" href="">Подробнее</a>
										</div>
									</div>
								</div>
							</div>
							<div class="hdr_ft_bnr_it"><img class="hdr_ft_bnr_img" src="img/index/banner_1.jpg">
								<div class="hdr_ft_bnr_capt_bx">
									<div class="hdr_ft_bnr_capt">
										<div class="hdr_ft_bnr_capt_hd">Обновление каталога: <strong>Средства от простуды для детей</strong></div>
										<div class="hdr_ft_bnr_capt_bd">
											Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты.
											
										</div>
										<div class="hdr_ft_bnr_capt_ft"><a class="btn hdr_ft_bnr_capt_btn color_alert" href="">Подробнее</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- |========== Header Foot ==========|-->
			</section>
			<!--|********** Header **********|-->
		</header>
		
		
		
		<!--|************************************************** Main **************************************************|-->
		<main class="main">
			<!-- |=================================== Delivery ===================================|-->
			<section class="info_page_sec">
				<div class="container">
					<div class="info_page">
						<div class="base_bread info_page_bread">
							<ul class="base_bread_ls">
								<li><a href>Главная</a></li>
								<li>Доставка</li>
							</ul>
						</div>
						
						<h3 class="base_title info_page_ttl">Доставка
						</h3>
						
						<div class="info_page_cnt">
							<div class="row">
								<div class="col-3">
									<div class="info_page_asd">
										<div class="info_page_asd_it">
											<ul class="info_page_menu">
												<li><a href><span class="txt">Как заказать</span><i class="fa fa-angle-right"></i></a></li>
												<li class="active"><a href><span class="txt">Доставка</span><i class="fa fa-angle-right"></i></a></li>
												<li><a href><span class="txt">Часто задаваемые вопросы</span><i class="fa fa-angle-right"></i></a></li>
												<li><a href><span class="txt">Термины сайта</span><i class="fa fa-angle-right"></i></a></li>
											</ul>
										</div>
										
										<div class="info_page_asd_it"><a class="per_cab_rek" href><img src="img/order_archive/advert.jpg"></a></div>
									</div>
								</div>
								
								<div class="col-9">
									<div class="info_page_main">
										<div class="info_page_main_dlvr text-editor"><img src="img/info/delivery_1.jpg">
											<p><strong>
													С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа направлений прогрессивного развития. Не следует, однако забывать, что рамки и место обучения кадров позволяет оценить значение соответствующий условий активизации.
													</strong></p>
											<p>
												Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. Таким образом укрепление и развитие структуры позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. С другой стороны укрепление и развитие структуры требуют определения и уточнения систем массового участия. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.
												
											</p>
											<div class="row">
												<div class="col-6"><img src="img/info/delivery_2.jpg"></div>
												<div class="col-6"><img src="img/info/delivery_3.jpg"></div>
											</div>
											<p><strong>
													С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа направлений прогрессивного развития. Не следует, однако забывать, что рамки и место обучения кадров позволяет оценить значение соответствующий условий активизации.
													</strong></p>
											<p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. Таким образом укрепление и развитие структуры позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. С другой стороны укрепление и развитие структуры требуют определения и уточнения систем массового участия. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- |========== Delivery ==========|-->
			</section>
			<!--|********** Main **********|-->
		</main>
		
		
		
		<!--|************************************************** Footer **************************************************|-->
		<footer class="footer">
			<!-- |=================================== Alphabet ===================================|-->
			<div class="no_alphabet_line"></div>
			<!-- |========== Alphabet ==========|-->
			
			
			<!-- |=================================== Foot Base ===================================|-->
			<section class="foot_base_sec">
				<div class="container">
					<div class="foot_base">
						<div class="foot_bd">
							<div class="foot_logo_bx">
								<div class="foot_logo"><a href><img src="img/logo.png"></a></div>
								
								<ul class="foot_scl_ls">
									<li><a href><i class="fa fa-facebook"></i></a></li>
									<li><a href><i class="fa fa-instagram"></i></a></li>
									<li><a href><i class="fa fa-paper-plane"></i></a></li>
									<li><a href><i class="fa fa-odnoklassniki"></i></a></li>
								</ul>
							</div>
							
							<div class="foot_nav">
								<div class="row">
									<div class="col-4">
										<div class="foot_menu">
											<div class="foot_menu_name">О нас</div>
											<ul class="foot_menu_ls">
												<li><a href>О компании</a></li>
												<li><a href>Новости</a></li>
												<li><a href>Контакты</a></li>
											</ul>
										</div>
									</div>
									<div class="col-4">
										<div class="foot_menu">
											<div class="foot_menu_name">ПОМОЩЬ</div>
											<ul class="foot_menu_ls">
												<li><a href>Как заказать</a></li>
												<li><a href>Доставка</a></li>
												<li><a href>Часто задаваемые вопросы</a></li>
												<li><a href>Термины</a></li>
											</ul>
										</div>
									</div>
									<div class="col-4">
										<div class="foot_menu">
											<div class="foot_menu_name">ПАРТНЕРАМ</div>
											<ul class="foot_menu_ls">
												<li><a href>Реклама</a></li>
												<li><a href>Субаренда</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							
							<div class="foot_app">
								<ul class="foot_app_ls">
									<li><a class="fx-c apple" href><img src="img/app_iphone.png"></a></li>
									<li><a class="fx-c google" href><img src="img/app_google.png"></a></li>
									<li><a class="fx-c telegram" href><img src="img/app_telegram.png"></a></li>
								</ul>
							</div>
						</div>
						
						<div class="foot_ft">
							<div class="foot_copy">&copy; 2018 Интернет-аптека "Online Pharmacy"</div>
							<div class="foot_made">Сайт создан в <a href>Smart Outsourcing Solutions</a></div>
						</div>
					</div>
				</div>
				<!-- |========== Foot Base ==========|-->
			</section>
			<!--|********** Footer **********|-->
		</footer>
		
		
		
		<!--|************************************************** Modals **************************************************|-->
		<div class="modal fade modal_base modal_auth" id="">
			<div class="modal-dialog">
				<div class="modal-content">
					<button class="modal_base_cls" type="button" data-dismiss="modal"></button>
					
					<div class="modal_base_ttl">
						<div class="nav modal_auth_nav"><a class="btn active" href="#modal_auth_1" data-toggle="tab" id="modal_auth_log">Войти</a><a class="btn" href="#modal_auth_2" data-toggle="tab" id="modal_auth_reg">Регистрация</a></div>
					</div>
					
					<div class="modal_base_cnt">
						<div class="tab-content modal_auth_tab">
							<div class="tab-pane fade show active" id="modal_auth_1">
								<div class="modal_log">
									<form>
										<div class="form-group">
											<div class="modal_auth_inp">
												<div class="modal_auth_img fx-c"><img src="img/modal/icon_man.png"></div>
												<div class="modal_auth_sel">
													<select class="form-control ap-n">
														<option>Покупатель</option>
														<option>Продавец</option>
														<option>Пользователь</option>
													</select><i class="fa fa-angle-down"></i>
												</div>
											</div>
										</div>
										
										<div class="form-group">
											<div class="modal_auth_inp">
												<div class="modal_auth_img fx-c"><img src="img/modal/icon_tel.png"></div>
												<input class="form-control" type="tel" placeholder="Телефон">
											</div>
										</div>
										
										<div class="form-group">
											<div class="modal_auth_inp">
												<div class="modal_auth_img fx-c"><img src="img/modal/icon_key.png"></div>
												<input class="form-control" type="password" placeholder="Пароль">
											</div>
										</div>
										
										<div class="form-group">
													<label class="us-n input_type checkbox text modal_auth_chk">
														<input class="inp" type="checkbox" hidden>
														<div class="sign fx-c"></div>Запомнить меня
													</label>
										</div>
										
												<button class="btn color_alert modal_auth_btn" type="submit">Войти
												</button>
									</form>
								</div>
							</div>
							
							<div class="tab-pane fade" id="modal_auth_2">
								<div class="modal_reg">
									<form>
										<div class="form-group">
											<div class="modal_auth_inp">
												<div class="modal_auth_img fx-c"><img src="img/modal/icon_man.png"></div>
												<div class="modal_auth_sel">
													<select class="form-control ap-n" data-code-active>
														<option>Покупатель</option>
														<option>Продавец</option>
														<option>Пользователь</option>
													</select><i class="fa fa-angle-down"></i>
												</div>
											</div>
										</div>
										
										<div class="form-group">
											<div class="modal_auth_inp">
												<div class="modal_auth_img fx-c"><img src="img/modal/icon_tel.png"></div>
												<input class="form-control" type="tel" placeholder="Телефон" data-code-active>
											</div>
										</div>
										
										<div class="form-group">
											<div class="modal_auth_inp">
												<div class="modal_auth_img fx-c"><img src="img/modal/icon_key.png"></div>
												<input class="form-control" type="password" placeholder="Пароль" data-code-active>
											</div>
										</div>
										
										<div class="form-group">
											<div class="modal_reg_tel">
												<div class="modal_auth_inp modal_reg_tel_inp">
													<div class="modal_auth_img fx-c"><img src="img/modal/icon_sms.png"></div>
													<input class="form-control" type="text" placeholder="СМС Код" data-code-disabled disabled>
												</div>
												
														<button class="btn color_base modal_reg_tel_btn" type="submit" data-code="">Получить Код
														</button>
											</div>
											
											<div class="modal_reg_tel_capt">
												Если вы регистрируетесь впервые, то получите 
												пароль по SMS
											</div>
										</div>
										
										<div class="form-group">
													<label class="us-n input_type checkbox text modal_auth_chk">
														<input class="inp" type="checkbox" hidden>
														<div class="sign fx-c"></div>Я согласен с условиями <a href>оферты</a>
													</label>
										</div>
										
												<button class="btn color_alert modal_auth_btn" type="submit">Зарегистрироваться
												</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade modal_base modal_ctt" id="">
			<div class="modal-dialog">
				<div class="modal-content">
					<button class="modal_base_cls" type="button" data-dismiss="modal"></button>
					
					<div class="modal_base_ttl">
						<div class="modal_ctt_ttl">Обратная связь</div>
					</div>
					
					<div class="modal_base_cnt">
						<div class="modal_ctt_cnt">
							<form>
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Имя">
								</div>
								
								<div class="form-group">
									<input class="form-control" type="tel" placeholder="Телефон">
								</div>
								
								<div class="form-group">
									<textarea class="form-control" rows="7" placeholder="Сообщение"></textarea>
								</div>
								
										<button class="btn color_alert modal_ctt_btn" type="submit">Отправить
										</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--|********** Modals **********|-->
		
		
		
		<!--|************************************************** JavaScript Plugins **************************************************|-->
		
		<!--|____________________ Jquery ____________________|-->
		<script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script>
		
		
		<!--|____________________ Libraries ____________________|-->
		<script type="text/javascript" src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="lib/owl_carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="lib/int_tel_input/js/intlTelInput.min.js"></script>
		<script type="text/javascript" src="lib/slick/slick.min.js"></script>
		<script type="text/javascript" src="lib/fancybox/jquery.fancybox.min.js"></script>
		<script type="text/javascript" src="lib/noUiSlider/nouislider.min.js"></script>
		<script type="text/javascript" src="lib/noUiSlider/wNumb.js"></script>
		
		
		<!--|____________________ Scripts ____________________|-->
		<script type="text/javascript" src="js/custom.js"></script>
	</body>
</html>

pug/done/delivery.pug
extends includes/main
include includes/mixins
include includes/parts/mixin_pc

append variables
	- var title = 'delivery'


block header_variables
	- var header_banner = true


block footer_variables
	- var alphabet = false




block main

	// |=================================== Delivery ===================================|
	section.info_page_sec
		.container
			.info_page

				-
					var breadData = [
						'Главная',
						'Доставка',
					]
				+base_bread(breadData, 'info_page_bread')
				|
				|

				+base_title('info_page_ttl') Доставка
				|
				|

				.info_page_cnt
					.row
						.col-3
							.info_page_asd
								.info_page_asd_it
									-
										var infoPageMenu = [
											'Как заказать',
											'Доставка',
											'Часто задаваемые вопросы',
											'Термины сайта',
										]
									+info_page_menu(infoPageMenu, 2)
								|
								|

								.info_page_asd_it
									include includes/parts/pc_advert
						|
						|

						.col-9
							.info_page_main
								.info_page_main_dlvr.text-editor
									img(src="img/info/delivery_1.jpg")
									
									p
										strong.
											С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа направлений прогрессивного развития. Не следует, однако забывать, что рамки и место обучения кадров позволяет оценить значение соответствующий условий активизации.
									
									p.
										Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. Таким образом укрепление и развитие структуры позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. С другой стороны укрепление и развитие структуры требуют определения и уточнения систем массового участия. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.
									
									.row
										.col-6
											img(src="img/info/delivery_2.jpg")
											
										.col-6
											img(src="img/info/delivery_3.jpg")
									
									p
										strong.
											С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа направлений прогрессивного развития. Не следует, однако забывать, что рамки и место обучения кадров позволяет оценить значение соответствующий условий активизации.
									
									p.
										Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. Таким образом укрепление и развитие структуры позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. С другой стороны укрепление и развитие структуры требуют определения и уточнения систем массового участия. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.
		// |========== Delivery ==========|










//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|
